[class*="col-"] {
    min-height: 50px;
    /* background-color: rgb(255, 199, 199); */
}

/* QUI COMINCIA L'HEADER  */
.header_1 {
    background-color: black;
}

.logo {
    display: flex;
    background-color: black;
    height: 50px;
    width: 120px;
}

.header_2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.header2_dx button {
    height: 40px;
    margin: auto 10px;
    border-radius: 20px;
    background-color: black;
    padding: 0 10px;
    color: white;
}

.header2_dx span {
    margin: auto 20px;
    cursor: pointer;
}








