
/* QUI COMINCIA L'HEADER  */

.header_1 {
    background-color: black;
}

.logo {
    display: flex;
    background-color: black;
    height: 50px;
    width: 120px;
    margin: 0 10px;
}

.header_2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: white;
}

.header2_dx button {
    height: 40px;
    margin: auto 10px;
    border-radius: 20px;
    background-color: black;
    padding: 0 10px;
    color: white;
}

.header2_dx span {
    margin: auto 20px;
    cursor: pointer;
}

.dropdown:hover {
    transition: 1s all;
}

/* QUI COMINCIA IL MAIN */

/* JUMBOTRON */
.jumbo_padd {
    padding-top: 126px;
}

.jumbotron {
    display: flex;
    align-items: center;
    height: 600px;
    max-width: 100%;
    background-color: burlywood;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position:top;

}

.position_text_jumbo {
    color: white;
    width: 35%;
    height: 40%;
}

.jumbotron .position_text_jumbo button {
    background-color: orangered;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.type_selection {
    margin-top: 10px;
}

.type_selection:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.type_selection img {
    width: 100%;
    border-radius: 20px;
}

/* PRESENTAZIONE PS5 */
.playstation_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.information_ps5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information_ps5 img {
    width: 100%;
    height: 100%;
    background-size: contain;

}

.choise_accessory {
    width: calc(80% / 5);
    margin: 10px;
}

.choise_accessory:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

/* SECONDO JUMBOTRON */
.jumbotron_2 {
    display: flex;
    align-items: center;
    height: 500px;
    background-color: burlywood;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron_2 .position_text_jumbo button {
    background-color: orangered;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

/* PARTE NUOVE USCITE */
.nuove_uscite {
    height: auto;
    background-color: #1f1f1f;
}

.new_play img {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    margin: 10px 0;
}

.new_play:hover {
    transform: scale(1.1);
    transition: 0.5s all;
}

/* PLAYSTATION PLUS */
.ps_plus {
    background-color:#bebcbb;
}

.ps_plus img {
    width: 50%;
}

.type_display img {
    width: 100%;
    height: 100%;
}

/* PLAYSTATION NOW */
.ps_now {
    background-color: #161c3b;
}

.ps_now .img-fluid {
    width: 50%;
}

/* SEGUICI SUI SOCIAL */
.row .rid_img {
    width: 30%;
    margin: 0 auto;
}

/* QUI COMINCIA IL FOOTER */
.footer {
    background-color: #00439c;
    height: auto;
}

.footer img {
    color: white;
}

.logo_footer {
    width: 50%;
}

.logo_footer img {
    width: 150px;
}












